@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@font-face {
	font-family: "GolosText-Bold";
	src: url("./GolosText-Bold.ttf") format("ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "GolosText-Medium";
	src: url("./GolosText-Medium.ttf") format("ttf");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "GolosText-Regular";
	src: url("./GolosText-Regular.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "GolosText-SemiBold";
	src: url("./GolosText-SemiBold.ttf") format("ttf");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Montserrat";
	src: url("./Montserrat-Regular.ttf") format("ttf");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Merriweather-Regular";
	src: url("./Merriweather-Regular.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Merriweather-Regular";
	src: url("/fonts/Merriweather-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
